extends layout


block content
  h1 Create Account
  form(method="POST" action="/users/create")
    input(type="text" name="username" placeholder="username")
    br
    input(type="password" name="password" placeholder="password")
    br
    input(type="password" name="confirm" placeholder="confirm password")
    br
    input(type="email" name="email" placeholder="email")
    br
    input(type="number" name="age" placeholder="age")
    br
    button(type="submit") Create Account
